<div class="row">
    <!-- Sidebar -->
    <nav class="col-2" id="nav">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a ui-sref="pyovpn.dashboard">Dashboard</a>
            </li>

            <li class="sidebar-brand">
                <a ui-sref="pyovpn.userList">Users</a>
            </li>

            <li class="sidebar-brand">
                <a ui-sref="pyovpn.vpnList">VPNs</a>
            </li>

            <li class="sidebar-brand">
                <a ui-sref="pyovpn.template.server">Templates server</a>
            </li>

            <li class="sidebar-brand">
                <a ui-sref="pyovpn.template.user">Templates user</a>
            </li>
        </ul>
    </nav>

    <content class="col-10" id="main">
        <div ui-view="main">
        </div>
    </div>
</div>
