<!-- Sidebar -->
<nav id="nav">
    <h3 class="sidebar-header">VPN</h3>

    <ul class="list-unstyled components">
        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.dashboard" ui-sref-active="active">Dashboard</a>
        </li>

        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.userList" ui-sref-active="active">Users</a>
        </li>

        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.vpnList" ui-sref-active="active">VPNs</a>
        </li>

        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.templateServerList" ui-sref-active="active" ng-if="$ctrl.$auth.authData.is_admin">Templates server</a>
        </li>

        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.templateUserList" ui-sref-active="active" ng-if="$ctrl.$auth.authData.is_admin">Templates user</a>
        </li>
    </ul>
    <a href="#" class="btn navbar-btn" ng-click="$ctrl.logout($event)">Logout</a>
</nav>

<!-- Main content -->
<main id="main">
    <div ui-view="main"></div>
</main>
