<!-- Sidebar -->
<nav id="nav">
    <h3 class="sidebar-header">VPN</h3>

    <ul class="list-unstyled components">
        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.dashboard" ui-sref-active="active">Dashboard</a>
        </li>

        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.userList" ui-sref-active="active">Users</a>
        </li>

        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.vpnList" ui-sref-active="active">VPNs</a>
        </li>

        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.template.server" ui-sref-active="active">Templates server</a>
        </li>

        <li>
            <a class="btn navbar-btn" ui-sref="pyovpn.template.user" ui-sref-active="active">Templates user</a>
        </li>
    </ul>
    <a class="btn navbar-btn" ng-click="$ctrl.logout()">Logout</a>
</nav>

<!-- Main content -->
<main id="main">
    <div ui-view="main"></div>
</main>
