<ol id="top-nav" class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Users</li>
</ol>
<h1>Users</h1>
<input ng-model="filter" class="w-100" />
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th class="text-center">Is admin</th>
            <th class="text-center">Is anonymouse</th>
            <th>VPNs</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="user in $ctrl.userList|filter:filter|orderBy:['username']">
            <td>
                <a ui-sref="pyovpn.userDetail(user)" ng-bind="user.username"></a>
            </td>
            <td class="text-center">
                <span class="badge badge-pill" ng-class="user.is_admin ? { 'badge-danger': true } : { 'badge-success': true }" ng-bind="user.is_admin"></span>
            </td>
            <td class="text-center">
                <span class="badge badge-pill" ng-class="user.is_anonymouse ? { 'badge-success': true } : { 'badge-success': true }" ng-bind="user.is_anonymouse"></span>
            </td>
            <td>
                <span class="badge badge-pill badge-info" ng-repeat="vpn in user.vpns" ng-bind="vpn"></span>
            </td>
            <td class="text-right" ng-if="$ctrl.$auth.authData.is_admin">
                <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.userDelete(user)">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<form name="$ctrl.userAddForm" ng-submit="$ctrl.userAdd()" autocomplete="off" ng-if="$ctrl.$auth.authData.is_admin">
    <fieldset>
        <legend class="h5">Add user</legend>

        <div class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="input-icon-user"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="input-icon-user" autocomplete="nope" ng-model="$ctrl.new_user.username"
                    required>
            </div>

            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="input-icon-password"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="input-icon-password" autocomplete="new-password" ng-model="$ctrl.new_user.password"
                    required>
            </div>

            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-prepend">
                    <label class="input-group-text">Is admin</label>
                </div>

                <div class="input-group-text">
                    <input class="form-check-input" type="checkbox" ng-model="$ctrl.new_user.is_admin">
                </div>
            </div>

            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-prepend">
                    <label class="input-group-text">Is anonymouse</label>
                </div>

                <div class="input-group-text">
                    <input class="form-check-input" type="checkbox" ng-model="$ctrl.new_user.is_anonymouse">
                </div>
            </div>

            <div class="col"></div>

            <button type="submit" class="btn btn-primary" ng-disabled="!$ctrl.userAddForm.$valid">Add user</button>
        </div>
    </fieldset>
</form>
